<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsgreenberg.fm_eta">
    <uses-feature android:name="android.hardware.type.watch" />

    <application>
        <activity
            android:name="com.tsgreenberg.fm_eta.ui.activity.EtaInfoActivity"
            android:exported="false"
            />
    </application>

</manifest>