<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsgreenberg.eta_info">
    <application>
        <activity
            android:name="com.tsgreenberg.eta_info.ui.activity.EtaInfoActivity"
            android:exported="false"
            />
    </application>
</manifest>